*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;

    scroll-behavior: smooth;
}

:root{
    --index: calc(1vw + 1vh);

    --cap-h: 10vh;

    --off: 7vw;

    --b-r: 10px;

    --transition: .5s;

    --dec-col: yellow;

}
/* 
.cinzel-<uniquifier> {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.raleway-<uniquifier> {
    font-family: "Raleway", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.roboto-<uniquifier> {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
  
.permanent-marker-regular {
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
}
  
.great-vibes-regular {
    font-family: "Great Vibes", serif;
    font-weight: 400;
    font-style: normal;
}  */


body{
    overflow-x: hidden;
}

.page{
    width: 100vw;
    height: 100vh;
}

.left-f-block , .right-f-block{
    display: flex;
    position: relative;
    width: 50%;
    height: 100%;
}

/* CAPTION */

#caption{


    position: fixed;
    display: flex;
    justify-content: center;

    gap: var(--off);

    align-items: center;
    width: 100vw;
    height: var(--cap-h);

    padding: 0 var(--off);

    z-index: 5555;

    top: 0;

}

.logo_area{
    width: 25%;
    color: white;
}
.menu_area {
    position: relative;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: var(--index);
}



#caption > nav{
    --reg-btn-pad-x: 20px;

    position: relative;
    display: flex;
    width: 50%;
    height: 70%;
    background: black;
    justify-content: space-between;
    padding: 0 2rem;
    padding-right: calc(2rem - var(--reg-btn-pad-x));
    gap: 1rem;
    align-items: center;
    border-radius: var(--b-r);
}

#caption > nav > a{
    text-decoration: none;
    color: white;
}
#caption > nav > a:hover{
    color: grey;
}
#caption > nav > a:last-of-type{
    color: black;
    background: white;
    padding: 10px var(--reg-btn-pad-x);
    border-radius: var(--b-r);

    text-transform: uppercase;
}
#caption > nav > a:last-of-type:hover{
    background: lightgray;
}

#menu_btn_area{
    display: flex;
    position: relative;
    height: 100%;
    aspect-ratio: 1/1;
    color: white;
    justify-content: center;
    align-items: center;

    font-size: 2em;
}

#menu_btn{
    background: black;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
}

#lang_switch{
    display: flex;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 30px;
    height: 60%;
    background: black;
    color: white;
}
#lang_switch > span{
    cursor: pointer;
}
#lang_switch > span:hover{
    color: grey;
}

#menu{
    background: black;
    width: 100vw;
    height: 70vh;
    position: fixed;
    z-index: 554;
    transition: var(--transition);
    transform: translateY(-100vh);
    border-bottom: 2px solid white;
}

body[data-menu-open="true"] #menu{
    transform: translateY(0);
}

body[data-lang="eng"] #lang_switch > span:nth-of-type(3){
    background: white;
    color: black;
    padding: 5px;
    border-radius: var(--b-r);
}
body[data-lang="ru"] #lang_switch > span:nth-of-type(2){
    background: white;
    color: black;
    padding: 5px;
    border-radius: var(--b-r);
}
body[data-lang="kz"] #lang_switch > span:nth-of-type(1){
    background: white;
    color: black;
    padding: 5px;
    border-radius: var(--b-r);
}

/* HEADER */

#header{
    display: flex;
    position: relative;

    justify-content: center;
    align-items: center;
    background: black;
}

#header::after{
    position: absolute;
    content: "";
    display: flex;
    width: 100vw;
    height: 5vh;
    background: white;
    top: 10vh;
    opacity: 0.9;

    rotate: 2deg;
    
}

#header > video{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    object-fit: cover;
    filter: brightness(80%);

    display: none;
}

#header_content{
    display: flex;
    width: 100%;
    height: 100%;
    bottom: 0;
    position: relative;
    /* background: red;
    opacity: 0.5; */
    z-index: 55;

    padding: calc(var(--off)) var(--off);
}

#header_title{
    position: relative;
    font-size: 3em;
    color: white;
    width: 100%;
    font-weight: 300;
}

.header_subtitle{
    color: grey;
    font-size: 2em;
    font-weight: 200;
    font-style: italic;
}

#header_title span{
    color: var(--dec-col);
    font-style: italic;
}


#header_time{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    /* right: calc(var(--off)*1.5); */
    width: 30vw;
    height: 40vh;
    color: white;
    /* backdrop-filter: blur(10px);
    background: rgba(250, 250, 250, 0.1); */
    background: black;
    padding: var(--index);

    gap: calc(var(--index)*1.5);

    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    z-index: 10;
}

#header_content > .left-f-block{
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: var(--index);
}
#header_content > .right-f-block{
    justify-content: end;
    align-items: center;
}


#header_time > *{
    width: 100%;

    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

#header_time::after{
    width: 50%;
    height: 30%;
    content: '';
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;

    border-top: 2px solid white;
    border-left: 2px solid white;
}

#header_time::before{
    width: 50%;
    height: 30%;
    content: '';
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    pointer-events: none;

    border-bottom: 2px solid white;
    border-right: 2px solid white;
}

.time_title{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    text-transform: uppercase;

    
}

.time_desc{
    justify-content: center;
    align-items: center;
    text-align: center;
    color: lightgrey;
    padding: 0 3vw;
}

#time{
    display: flex;
    justify-content: center;
    font-size: 2em;
}

/* PAGE 1 */

#page1{
    background: black;
    height: 240vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    

    color: white;
}

#p1h_dec{
    position: absolute;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    height: 50vh;
    top: 75vh;
    gap: 5vh;
}

#p1h_dec::after,#p1h_dec::before{
    content: "";
    position: relative;
    display: flex;
    background: white;
    align-self: center;
    width: 150%;
    opacity: 0.9;

    rotate: 2deg;
}
#p1h_dec::before{
    height: 10vh;
    top: 0;
}
#p1h_dec::after{
    height: 20vh;
    bottom: 0;
}

#p1_title_text_box{
    position: relative;
    width: 100%;
    height: 50vh;

    font-size: 4em;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;

    justify-content: end;

    padding: 0 var(--off);
}

#p1_title_text_box > span:nth-of-type(2){
    position: relative;
    display: flex;
    justify-content: end;
    right: 0px;
    width: 100%;
}

#p1_c_wrapper{
    position: relative;
    width: 100vw;
    display: flex;
    align-items: center;
    height: 20vh;
    font-size: 3em;
    overflow-x: hidden;

    text-transform: uppercase;
    font-style: italic;
    z-index: 5;
}
#p1_c_wrapper::after{
    content: '';
    display: flex;
    position: absolute;
    background: white;
    width: 100%;
    height: 50%;
    z-index: -1;
}

@keyframes p1kwa {
    0%{
        left: -40vw;
    }
    100%{
        left: 140vw;
    }
}

.p1_kw{
    --a-d: 2s;
    color: black;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0vw;
    position: absolute;
    animation: p1kwa both linear infinite 10s;
}

.p1_kw:nth-of-type(1){
    animation-delay: calc(var(--a-d)*0);
}
.p1_kw:nth-of-type(2){
    animation-delay: calc(var(--a-d)*1);
}
.p1_kw:nth-of-type(3){
    animation-delay: calc(var(--a-d)*2);
}
.p1_kw:nth-of-type(4){
    animation-delay: calc(var(--a-d)*3);
}
.p1_kw:nth-of-type(5){
    animation-delay: calc(var(--a-d)*4);
}

#p1_video_box{
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

#p1Vid{
    width: 100%;
    height: 80%;
    object-fit: cover;
    cursor: pointer;
}

body[data-p1vid-open="true"] #p1vidWatch{
    display: flex;
}

#p1vidWatch{
    width: 100vw;
    height: 100vh;
    z-index: 55555;
    background: rgba(0, 0, 0, 0.95);
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;

    display: none;
}

#p1vidClose{
    display: flex;
    position: absolute;
    right: var(--off);
    top: var(--off);
    width: fit-content;
    height: fit-content;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: white;
    cursor: pointer;
}

#p1vidWatch > video{
    position: relative;
    height: 70%;
}

.p1_dec{
    width: calc(100% - var(--off)*2);
    margin-left: var(--off);
    height: 60vh;
    display: flex;
    gap: var(--index);
    flex-direction: column;

    position: relative;
}

.p1_dec > *{
    display: flex;
    height: 50%;
    width: 100%;
}

.p1dec_ur{
    gap: var(--index);
}

.p1dec_box{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    justify-content: center;
    gap: 20px;
    background: black;
    padding-left: calc(var(--off)/2);
    font-size: 2em;

    /* box-shadow: 0px 10px 20px 4px rgba(250,250,250,0.2); */

    border: 2px solid white;

    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.p1dec_box > div{
    font-family: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.p1dec_box > span{
    font-size: 0.5em;
    color: grey;
}

.p1dec_box:nth-child(1){
    width: 60%;
}
.p1dec_box:nth-of-type(2){
    width: 40%;
}
.p1dec_box:nth-child(3){
    width: 100%;
}

/* PAGE 2 */

#page2{
    height: 500vh;
    background: black;
    position: relative;
    padding: var(--off) var(--off);
}

.p2_title{
    width: 100%;
    color: white;
    font-size: 3em;
    height: 20vh;
    text-transform: uppercase;
}
.p2_title > span{
    color: var(--dec-col);
}

.table{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;

    color: white;
}

.t_row{
    width: 100%;
    display: flex;
    height: max-content;
    margin-bottom: 50px;
    padding-block: 20px;
}

.t_row > .t_slot{
    width: 25%;
    display: flex;
    flex-direction: column;
    height: calc(100%);
    padding-right: 20px;
    padding-left: 10px;
}

.t_r_head{
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;

    border-bottom: 2px solid white;
}

.t_row:nth-of-type(2n){
    background: rgb(22, 22, 22);
}

.t_slot > a{
    color: yellow;
}

/* SECTIONS */

.s_body{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
    color: white;
    height: 200vh;
    width: 100vw;

    padding-top: 30vh;
    padding-left: var(--off);
    padding-right: var(--off);
    gap: 20vh;
}

.s_title{
    width: 100vw;
    height: max-content;
    font-size: 3em;
    text-align: center;
}

.s_title > p:nth-of-type(1){
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
}

#menu_content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menu_content > nav{
    display: flex;
    flex-direction: column;
    color: white;
    width: 100%;
    height: 70%;
    justify-content: center;
    align-items: center;
    gap: calc(var(--off)*2);
}
#menu_content > nav > a{
    display: flex;
    text-decoration: none;
    color: white;
    font-size: 2em;
}

.sch-body{
   background: black;
}
.sch-body #page2 .p2_title{
    margin-top: calc(var(--cap-h)*2);
}

.table_resp{
    display: none;
}

.table_resp .t_row{
    position: relative;
    height: 40vh;
}

.table_resp .t_row .t_slot{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: calc(100%);
    padding-right: 20px;
    padding-left: 10px;
}

.table_resp .t_r_head{
    text-transform: uppercase;
    height: max-content;
    font-weight: 600;
    font-size: 1.5em;
    flex-wrap: wrap;

    border-bottom: 2px solid white;
}
.table_resp .t_r_head .t_slot{
    width: 50%;
    margin-bottom: 20px;
}

.table_resp .t_row:nth-of-type(2n){
    background: rgb(22, 22, 22) !important;
}
.table_resp .t_row:nth-of-type(n){
    background: black;
}

.t_row_respbtn{
    width: fit-content;
    background: white;
    color: black;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: calc(var(--off) * -1);
    padding: 0 calc(var(--off)/2);
    height: 100%;
}

.t_hid_row{
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    display: flex;
    margin-bottom: 50px;
    padding-block: 20px;

    transition: var(--transition);
    top: 0;
    right: -100vw;
}

.t_row_respbtn > span{
    transition: var(--transition);
}

.t_hid_row[data-hidrow-open = "false"]{
    right: -100vw;
}
.t_hid_row[data-hidrow-open = "true"]{
    right: 0vw;
}
.t_row:has(.t_hid_row[data-hidrow-open = "true"]) .t_row_respbtn > span{
    rotate: 180deg;
}


@media (max-width: 900px) {

    .table{
        display: none;
    }

    .table_resp{
        display: flex !important; 
    }




    :root{
        --cap-h: 15vh;

        --off: 8vw;
    }
    #caption nav{
        display: none !important;
        background: red;
    }
    #caption{
        justify-content: space-between;
        background: rgba(0, 0, 0, 0.9);
        border-bottom: 2px solid white;
    }
    #lang_switch{
        display: none;
    }
    #header{
        height: 150vh;
        flex-direction: column;
    }
    #header::after{
        display: none;
    }
    #header_content{
        flex-direction: column;
    }
    #header_content > .left-f-block{
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: start;
    }
    #header_content > .right-f-block{
        width: 100%;
        height: 50vh;
        justify-content: center;
        align-items: center;
    }
    #header_time{
        width: 80vw;
        padding: calc(var(--off)*2);
    }
    #header_title{
        font-size: 2em;
    }
    .header_subtitle{
        font-size: 1.5em;
    }

    #page1{
        height: 300vh;
    }
    #page1 > #p1h_dec{
        display: none;
    }
    #p1_title_text_box{
        font-size: 2em;
        text-align: center;
    }
    #p1_c_wrapper{
        font-size: 1.5em;
        justify-content: center;
    }
    @keyframes p1kwa {
        0%{
            left: 0;
        }
        100%{
            left: 0;
        }
    }
    .p1_kw{
        display: none;
    }
    .p1_kw:nth-of-type(1){
        position: relative;
        display: flex;
    }
    .p1_dec{
        height: fit-content;
        gap: calc(var(--index)*3);
    }
    .p1dec_row{
        flex-direction: column;
        height: fit-content;
        gap: calc(var(--index)*3);
    }
    .p1dec_box{
        width: 100% !important;
        height: 30vh;
    }

    #page2{
        height: fit-content;
    }
    .table > .t_row{
        font-size: 1em;        
    }
    .t_r_head{
        font-size: 0.5em;
    }

    #menu{
        height: 100vh;
    }
    #menu_btn{
        border-radius: 0;
        background: none;
        padding: 0;
    }
    #menu_btn_area{
        justify-content: end;
    }
}